* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
}

.hero {
  background: url("./imgs/bg.svg") center / cover no-repeat;
  min-height: 90vh;
}

.hero div {
  margin-bottom: 250px;
}

h1 {
  max-width: 600px;
}

p, 
.lead {
  max-width: 720px;
}

.about-card {
  margin-inline: 6rem;
}

@media screen and (max-width: 768px) {
  .about-card {
    margin-inline: 0;
  }
  
}
